@import './tokens/spacing.css';
@import './tokens/border-radius.css';
@import './tokens/border.css';

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-color-track);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color-trumb);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-trumb-hover);
}
