*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--ssk-colors-fiord-100);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--ssk-colors-gray-500);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--ssk-colors-gray-600);
}
